# openshift installer binaries
openshift-install*

# openshift origin repos
openshift/

# kubernetes origin repos
kubernetes/

# my forks from openshift repos
liouk/

# ocp cluser configs dir
.openshift_clusters/
